# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Windows copy
campusconnect-frontend/

# OS files
.DS_Store
Thumbs.db
